.dark-button {
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 70px;

  border: 0px;
  box-shadow: 5px 5px 5px 5px #eee;

}
.light-button {
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 70px;

  border: 0px;
  box-shadow: 5px 5px 5px 5px #eee;

}
.orange-button {
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 70px;

  border: 0px;
  box-shadow: 5px 5px 5px 5px #eee;

}

.card.custom-card {
  width: 18rem;
}
