$my-second-primary: mat.define-palette(mat.$purple-palette);
$my-second-accent: mat.define-palette(mat.$pink-palette);
$my-second-warn: mat.define-palette(mat.$red-palette);

$my-second-theme: mat.define-dark-theme((
 color: (
   primary: $my-second-primary,
   accent: $my-second-accent,
   warn: $my-second-warn,
 )
));
